body{
    overflow-x: hidden;
    /* font-size: 1.3333333333333333vw; */
}

.h-100vh{
    height: 100vh;
}

.section-hide .col{
    overflow-y: auto;
    padding: 0 0;
}

section{
    width: 100vw;
}

.main-title{
    font-size: 3em;
    color: white;
    font-weight: 500;
}

.main-subtitle{
    width: 70%;
}

.form-login{
    padding: 0 0 0.75em 0 !important;
    border-radius: 0 !important;
    border: 0 !important;
    border-bottom: 1px solid white !important;
}


.main-input::placeholder{
    color: #112D4E !important;
}

.mt-4{
    margin-top: 1.25em !important;
}

.form-check label{
    font-size: 1.5em;
    color: white;
}

.main-info{
    font-size: 1.5em;
    color: white;
}

.pass-info{
    font-size: 1em;
}
