body {
  overflow-x: hidden;
}

#register .h-100vh {
  height: 100vh;
}

#register .section-hide .col {
  overflow-y: auto;
  padding: 0 0;
}

#register section {
  width: 100vw;
}

#register .main-title {
  font-size: 3em;
  color: white;
  font-weight: 500;
}

#register .main-subtitle {
  width: 70%;
}

#register .form-login {
  padding: 0 0 0.75em 0 !important;
  border-radius: 0 !important;
  border: 0 !important;
  border-bottom: 1px solid white !important;
}

#register .main-input::placeholder {
  color: #112d4e !important;
}

#register .mt-4 {
  margin-top: 1.25em !important;
}

#register .form-check label {
  font-size: 1.5em;
  color: white;
}

#register .main-info {
  font-size: 1.5em;
  color: white;
}

#register .pass-info {
  font-size: 1em;
}
